html, 
body {
    height: 100%;
    margin: 0;
    /*overflow: hidden;*/
}
.row {
    display: flex;
    min-height: 100%;
}
  
.column1 {
    flex: 3;
    background-image: url(hexagon.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    flex-flow: column wrap;
}

.column2 {
    flex: 4;
}

.logoDiv {
    background-color: rgba(102, 184, 255, 0.185);
    display: flex;
    width: 100%;
    height: 15%;
    align-items: center;
    justify-content: center;
    margin-top: 35%;
}

.logoDiv > img {
    width: 70px;
}